# Tasca: Base de dades NoSQL

### Càrrega de llibreries

In [1]:
import pandas as pd
import pymongo

## Exercici 1
__Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.__

![MongoDB_final](MongoDB_final.png)

## Exercici 2
__Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.__

In [2]:
# Es crea l'objecte myclient, que conecta amb la base de dades de mongodb
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# Llista de les bases de dades
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydb', 'test']

In [3]:
# S'accedeix a la base de dades 'mydb'
database = myclient.mydb

In [4]:
# S'accedeix a la col·lecció 'user' que conté les dades
col = database["user"]

# Troba tots els registres de la col·lecció
x = col.find()

# Imprimeix tots els registres
for data in x:
    print(data)

{'_id': ObjectId('60dc42d08a3528e3d0224e0e'), 'nom': 'Carlos', 'edat': 43.0, 'nacionalitat': 'espanyola', 'carnet': 1.0, 'parella': 1.0}
{'_id': ObjectId('60dc43248a3528e3d0224e0f'), 'nom': 'Maria', 'edat': 29.0, 'nacionalitat': 'anglesa', 'carnet': 0.0, 'parella': 1.0}
{'_id': ObjectId('60dc43558a3528e3d0224e10'), 'nom': 'Frank', 'edat': 37.0, 'nacionalitat': 'americana', 'carnet': 1.0, 'parella': 0.0}
{'_id': ObjectId('60dc43728a3528e3d0224e11'), 'nom': 'Simone', 'edat': 31.0, 'nacionalitat': 'noruega', 'carnet': 1.0, 'parella': 0.0}
{'_id': ObjectId('60dc43918a3528e3d0224e12'), 'nom': 'Antonio', 'edat': 45.0, 'nacionalitat': 'espanyola', 'carnet': 0.0, 'parella': 0.0}

## Exercici 3
__Carega algunes consultes senzilles a un Pandas Dataframe.__

<span style='color:blue;font-size:18px'> <b> Tots els registres </b> </span>

In [5]:
df_1 =  pd.DataFrame(list(col.find()))
df_1 = df_1.drop('_id',axis=1)
df_1

       nom  edat nacionalitat  carnet  parella
0   Carlos  43.0    espanyola     1.0      1.0
1    Maria  29.0      anglesa     0.0      1.0
2    Frank  37.0    americana     1.0      0.0
3   Simone  31.0      noruega     1.0      0.0
4  Antonio  45.0    espanyola     0.0      0.0

<span style='color:blue;font-size:18px'> <b> Tots els registres amb carnet = 1 </b> </span>

In [6]:
myquery = { "carnet": 1 }

df_2 =  pd.DataFrame(list(col.find(myquery)))
df_2 = df_2.drop('_id',axis=1)
df_2

      nom  edat nacionalitat  carnet  parella
0  Carlos  43.0    espanyola     1.0      1.0
1   Frank  37.0    americana     1.0      0.0
2  Simone  31.0      noruega     1.0      0.0

<span style='color:blue;font-size:18px'> <b> Tots els espanyols amb parella </b> </span>

In [7]:
myquery = { "nacionalitat": "espanyola", "parella": 1 }

df_3 =  pd.DataFrame(list(col.find(myquery)))
df_3 = df_3.drop('_id',axis=1)
df_3

      nom  edat nacionalitat  carnet  parella
0  Carlos  43.0    espanyola     1.0      1.0

## Exercici 4
__Genera un resum estadístic de la informació que conté la base de dades.__

In [8]:
# Anàlisi descriptiu de les dades numèriques (carnet i parella son binaries)
df_1.describe()

            edat    carnet   parella
count   5.000000  5.000000  5.000000
mean   37.000000  0.600000  0.400000
std     7.071068  0.547723  0.547723
min    29.000000  0.000000  0.000000
25%    31.000000  0.000000  0.000000
50%    37.000000  1.000000  0.000000
75%    43.000000  1.000000  1.000000
max    45.000000  1.000000  1.000000

In [9]:
# Anàlisi descriptiu de les dades categòriques
df_1.describe(include='object')

          nom nacionalitat
count       5            5
unique      5            4
top     Maria    espanyola
freq        1            2